* {
    margin: 0;
    padding: 0;

    
}

body {
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(159deg, rgba(57,194,95,1) 0%, rgba(29,123,142,1) 100%);

}

#tictactoeboard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    border: solid black 1px;
}

p {
    color: white;
    font-size: 8rem;
    font-weight: 800;
}

.cell {
    background-color: white;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.player1marker {
    background-color: red;
}

.player2marker {
    background-color: blue;
}
